html, body {
  width: 100vw;
}

.content {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 20px;
}

.container {
  width: 100%;
  padding: 20px;
}

.sidebar {
  width: 300px
}

.main {
  width: 100%;
}

.sort-area {
  display: flex;
}

.subHeading {
  margin-top: 20px;
  font-size: 0.8rem;
  font-family: firstFont;
}

.card-container {
  width: 100%;
}

.card {
  width: 100%;
  box-shadow: 2px 2px 6px 2px #ddd; 
  margin: 20px 0;
  border-radius: 10px;
  display: flex;
  position: relative;

}

.takeaway-photo-container {
  width: 300px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.takeaway-photo {
  width: 110%;
  height: 100%;
}

.takeway-icon {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 10px;
  width: 50px;
  border-radius: 5px;
}

.takeaway-text {
  width: 100%;
  padding: 0 20px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 35px;
}

.search-form {
  flex-grow: 1;
  max-width: 68%; /* Set a max-width to prevent excessive growth */
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 28px;
  background: white;
  transition: background 0.25s;
  border: 1px solid #555;
}

.search:focus-within {
  background: #f1f1f1;
}

.search-input {
  flex: 3;
  font-size: 14px;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
}

.search-input::placeholder {
  color: rgb(120, 116, 116);
  font-family: fifthFont;
}

.search-icon {
  color: rgb(95, 91, 91);
}

.sort-area {
  align-items: center;
  height: 100%;
}

.select {
  margin: 0 20px;
  height: 100%;
  border-radius: 10px;
  width: 150px;
  background: white;
  border-color: #555;
  padding: 0 10px;
  font-family: fifthFont;
  color:rgb(34, 33, 33);
}

/*Sidebar styling*/
.sidebar {
  font-family: firstFont;
}

.title{
  color: black;
  font-size: 1rem;
  font-family: firstFont;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.switch {
  position: relative;
  width: 36px;
  height: 20px;
  padding-right: 10px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch input {
  display: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider:before {
  position: absolute;
  content: "";
  -webkit-transition: .4s;
  transition: .4s;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #817c7c;
  
} 

.slider:before {
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
}

input:checked + .slider {
  background-color: #f36805;
  box-shadow: 0 0 1px #f36805;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 20px;
  
}

.slider.round:before {
  border-radius: 50%;
}

.star {
  color:#ff3333;
  size: 100px;
  cursor: pointer;
}

@font-face {
  font-family: firstFont;
  src: url("../fonts/JETSansDigital-Bold.ttf");
}

@font-face {
  font-family: secondFont;
  src: url("../fonts/JETSansDigital-Bold.woff");
}

@font-face {
  font-family: thirdFont;
  src: url("../fonts/JETSansDigital-Bold.woff2");
}

@font-face {
  font-family: fourthFont;
  src: url("../fonts/JETSansDigital-Regular(1).ttf");
 
}

@font-face {
  font-family: fifthFont;
  src: url("../fonts/JETSansDigital-Regular.woff");
}

@font-face {
  font-family: sixthFont;
  src: url("../fonts/JETSansDigital-Regular.woff2"); 
}

 .star-container{
  padding-bottom: 20px;
}  

.checked {
  /* color: orange; */
  color:#e3860d
}

.material-symbols-outlined {
  margin-right: 5px
} 

p{
  display: flex; 
  align-items: center
} 

.card .isOpen,
.card .isNew {
display: none;
}

.rating-count {
font-family: firstFont;
font-size: 12px;
}

.delivery-time,.count {
font-family: sixthFont;
color: #706e6e;
font-size: 12px;
}

.card-name {
font-family: thirdFont;
color: black;
font-weight: bold;
font-size: 24px;

}

.cuisine {
font-family: FifthFont;
color: #282626;
font-size: 12px;
}

